@import "~bootstrap/scss/bootstrap";
@import "_default";

.h-app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#title {
  > p {
    font-size: 18px;
  }
}

.btn-start {
  background-color: #67d2df;
}

.btn-restart {
  background-color: #e60d2e;
}

.btn-exit {
  background-color: #f75c75;
}
